In [27]:
# Import Splinter, BeautifulSoup, and Pandas
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd
from webdriver_manager.chrome import ChromeDriverManager
import requests
import pymongo
import pathlib
import time

In [28]:
# Path to chromedriver

In [29]:
# Set the executable path and initialize the chrome browser in splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 96.0.4664
Get LATEST driver version for 96.0.4664
Driver [/Users/vanessaandjaviervillagomez/.wdm/drivers/chromedriver/mac64/96.0.4664.45/chromedriver] found in cache

## Visit the NASA mars news site

In [30]:
# Visit the mars nasa news site
nasa_url = "https://mars.nasa.gov/news/"
browser.visit(nasa_url)
# Optional delay for loading the page
time.sleep(2)

In [31]:
# Convert the browser html to a soup object and then quit the browser
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
browser.quit()

In [32]:
# .find() the content title and save it as `news_title`
# latest news as of December 15, 2021 - "NASA's Ingenuity Mars Helicopter Reaches a Total of 30 Minutes Aloft"
latest_news = soup.find('li', class_='slide')
news_title = latest_news.find('div', class_='content_title').text
news_title

"NASA's Ingenuity Mars Helicopter Reaches a Total of 30 Minutes Aloft"

In [34]:
# .find() the paragraph text
nasa_paragraph = latest_news.find('div', class_='article_teaser_body').text
nasa_paragraph

'With its recent 17th flight, the Red Planet rotorcraft reaches an airborne milestone the team never considered achievable. Its 18th flight is scheduled for no earlier than today.'

## JPL Space Images Featured Image

In [38]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 96.0.4664
Get LATEST driver version for 96.0.4664
Driver [/Users/vanessaandjaviervillagomez/.wdm/drivers/chromedriver/mac64/96.0.4664.45/chromedriver] found in cache

In [44]:
# Visit JPL space images Mars URL 
jpl_url = "https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/index.html"
browser.visit(jpl_url)

In [45]:
# Find and click the full image button
image_btn = browser.links.find_by_partial_text('FULL IMAGE').click()

In [54]:
# Find the more info button and click that
#browser.links.find_by_partial_text('more info').click()
#no elements could be found with link by partial text "more info"

In [55]:
# Parse the resulting html with soup
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [56]:
# find the relative image url
relative_image = soup.find('img', class_='headerimage fade-in')['src']
relative_image

'image/featured/mars3.jpg'

In [59]:
# Use the base url to create an absolute url
featured_image_url = 'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/'+relative_image
featured_image_url

'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/image/featured/mars3.jpg'

In [60]:
browser.quit()

## Mars Facts

In [70]:
# Create a dataframe from the space-facts.com mars page
mars_url = 'https://space-facts.com/mars/'

mars_df = pd.read_html(mars_url)[0]
mars_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [73]:
# clean the dataframe and export to HTML
mars_df.columns=['description', 'value']
mars_df.set_index('description', inplace=True)
mars_df

                                              value
description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [74]:
mars_html_table = mars_df.to_html("app/templates/mars_facts.html", index=True)

## Hemispheres

In [ ]:
# visit the USGS astrogeology page for hemisphere data from Mars

In [19]:


# First, get a list of all of the hemispheres

# Next, loop through those links, click the link, find the sample anchor, return the href
    
    # We have to find the elements on each loop to avoid a stale element exception
    
    
    # Next, we find the Sample image anchor tag and extract the href
    
    
    # Get Hemisphere title
    
    
    # Append hemisphere object to list
    
    
    # Finally, we navigate backwards with browser.back()

In [20]:
# view the hemisphere urls to make sure they look good

[{'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]